.featuredImage {
  width: 100%;
  max-width: 673.5px;
}

@media only screen and (max-width: 600px) {
  .featuredImage {
    max-width: 350.5px;
    /*padding-right: 5%;  remove to fix not being centred on mobile*/
  }
}
