.container {
  /*display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 673.5px;*/
  width: 800px;
  max-width: calc(100% + 34px);
}

/*@media only screen and (max-width: 600px) {
  .container {
    max-width: 350.5px;
    padding-right: 5%;
  }
}*/

.container svg {
  cursor: pointer;
}

.container path {
  fill: #555;
}

.container svg:hover path {
  fill: #000;
}
